
FTCoreText.xcodeproj/xcuserdata/baldophpourprix.xcuserdatad/xcschemes/xcschememanagement.plist

FTCoreText.xcodeproj/xcuserdata/baldophpourprix.xcuserdatad/xcschemes/FTCoreText.xcscheme

FTCoreText.xcodeproj/project.xcworkspace/xcuserdata/baldophpourprix.xcuserdatad/UserInterfaceState.xcuserstate
