*.mode1v3
*.mode2v3
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3

xcuserdata

PLBlocks.framework/*
build/*

.DS_Store
profile
.svn

Calpol.xcodeproj/project.xcworkspace/xcuserdata/baldophpourprix.xcuserdatad/UserInterfaceState.xcuserstate

Calpol.xcodeproj/project.xcworkspace/xcuserdata/baldophpourprix.xcuserdatad/UserInterfaceState.xcuserstate

/.DS_Store
/Calpol/.DS_Store
Calpol/CPSectionView.m
