*.mode1v3
*.mode2v3
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3

xcuserdata

build/*

.DS_Store
profile
.svn


/.DS_Store

/FTCoreText.xcodeproj/project.xcworkspace/xcuserdata/fuerteinternational.xcuserdatad/UserInterfaceState.xcuserstate
FTCTExample/FTCTExample.xcodeproj/project.xcworkspace/xcshareddata/FTCTExample.xccheckout
